{% extends "serviceProvider/navbar.html" %}
{% block styles %}
<style>
  .login {
    margin-top: 100px;
    max-width: 400px;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .header {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    color: #042C73;
    margin-bottom: 10px;
  }
  .header p {
    font-size: 18px;
    font-weight: 400;
    color: #706b6b;
    margin-bottom: 20px;
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  form input {
    height: 45px;
    outline: none;
    border: 1px solid #cccccc;
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    transition: border-color 0.3s;
  }
  form input:focus {
    border-color: #042C73;
  }
  form button {
    background-color: #042C73;
    color: #ffffff;
    font-size: 18px;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
  }
  form button:hover {
    background-color: #021B4D;
  }
  form span {
    text-align: center;
    font-size: 16px;
    padding-top: 10px;
    color: #706b6b;
  }
  form span a {
    text-decoration: none;
    color: #042C73;
    font-weight: 500;
    transition: color 0.3s;
  }
  form span a:hover {
    color: #021B4D;
  }
</style>
{% endblock styles %}
{% block body %}
<div class="container d-flex justify-content-center">
  <div class="login">
    <div class="header">
      <span>Business Verification</span>
      <p>Verify your business to get customers online</p>
    </div>
    <form method="POST">
      {% csrf_token %}
      <input type="text" placeholder="Carwash name" required name="carwash_name">
      <input type="text" placeholder="Owner name" required name="owner_name">
      <input type="text" placeholder="Phone number" required name="phone">
      <input type="text" placeholder="Carwash address" required name="address">
      <button type="submit">Save details</button>
      <div class="text-center mt-3">
        <span>Already have details? <a href="/provider/add-service">Add Services</a></span>
      </div>
    </form>
  </div>
</div>
{% endblock body %}
